<div id="product-info" class="product-info w-64 grow font-mono">
    <p>{{ product.vendor }}</p>
    <p>{{ product.title }}</p>
    <p>{{ product.price | money }}</p>
    <p>{{ product.description }}</p>
    <div class="product-form">
      {% form 'product', product %}
        {% assign current_variant = product.selected_or_first_available_variant %}

        <select name="id">
          {% for variant in product.variants %}
            <option
              value="{{ variant.id }}"
              {% if variant == current_variant %}
                selected="selected"
              {% endif %}
            >
              {{ variant.title }} - {{ variant.price | money }}
            </option>
          {% endfor %}
        </select>

        <input type="text" name="quantity" min="1" value="1">

        <input type="submit" value="Add to cart">
        {{ form | payment_button }}
      {% endform %}
    </div>
</div>
