<div id="product-information" class="collection-product__content flex flex-col gap-4 p-4 rounded-xl" >
  <a href={{product.url}}> 
    <p class="text-xs" style="view-transition-name: {{product.title | handleize}}-{{product-vendor| handleize}}">{{product.vendor}}</p>
    <p class="text-sm" style="view-transition-name: {{product.title | handleize}}">{{ product.title }}</p>
    <p class="text-xs" style="view-transition-name: {{product.title | handleize}}-price"class="font-mono">{{ product.price | money }}</p>
  </a>
  <details class="font-mono hover:text-indigo-400">
    <summary class="text-xs">Details</summary>
    <div id="description">
      {{ product.description }}
    </div>
  </details>
</div>

<style>
  #description {
    padding-top: 2rem;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
</style>
