<div id="product-info" class="product-info w-64 grow font-mono flex flex-col gap-12">
    <div class="flex flex-col gap-2">
      <h1 class="text-sm">{{ product.vendor }}</h1>
      <p style="view-transition-name: {{product.title | handleize}}">{{ product.title }}</p>
      <p style="view-transition-name: {{product.title | handleize}}-price"class="text-sm">{{ product.price | money }}</p>
    </div>
    <div class="product-form flex flex-col gap-4">
      {% form 'product', product %}
        {% assign current_variant = product.selected_or_first_available_variant %}

        <select name="id">
          {% for variant in product.variants %}
            <option
              value="{{ variant.id }}"
              {% if variant == current_variant %}
                selected="selected"
              {% endif %}
            >
              size?
            </option>
          {% endfor %}
        </select>

        <!-- 
        <input type="text" name="quantity" min="1" value="1">
        -->

        <input type="submit" value="Add to cart" class="text-red-700">
        {{ form | payment_button }}
      {% endform %}
    </div>
    <div id="description">
      {{ product.description }}
    </div>
</div>

<style>
#description p {
  font-size: 12px;
}
</style>
