{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<div class="flex">
  <div class="w-36">
    <ul>
      <li class="text-red-300 text-xs">sidebar</li>
    </ul>
  </div>
  <div class="grow">
    <div class="collection-products gap-2">
      {% paginate collection.products by 20 %}
        {% for product in collection.products %}
          <div class="collection-product">
            {% if product.featured_image %}
              {% assign vt_handle = product.title | handleize %}
              {% assign vt = "view-transition-name: photo-"| append: vt_handle %}
              {% render 'image',
                class: 'collection-product__image',
                style:  vt,
                image: product.featured_image,
                url: product.url,
                width: auto,
                height: 450,
                crop: 'center'
              %}
            {% endif %}
            <div class="collection-product__content">
              <a href={{product.url}}> 
                <p class="font-mono text-xl" style="view-transition-name: title-{{product.title | handleize }}">{{ product.title }}</p>
                <p class="font-mono" style="view-transition-name: price-{{product.title | handleize }}">{{ product.price | money }}</p>
              </a>
            </div>
          </div>
        {% endfor %}
        {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>

  </div>
</div>
<h1>{{ collection.title }}</h1>

<div class="collection-products">

</div>

{% stylesheet %}
  .collection-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
