{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<div class="flex gap-4">
  <div class="p-4 grow inset-shadow-sm rounded-xl">
      {% paginate collection.products by 15 %}
      <div class="collection-products ">
        {% for product in collection.products %}
          <div class="collection-product px-2 pt-2 hover:shadow-md/20 hover:-translate-y-1 transition duration-300 ease-in rounded-xl">
            {% if product.featured_image %}
              {% assign vt_handle = product.title | handleize %}
              {% assign vt = "view-transition-name: photo-"| append: vt_handle %}
              {% render 'image',
                class: 'collection-product__image hover:shadow-md/20 hover:-translate-y-1 transition duration-200 ease-in rounded-xl',
                style:  vt,
                image: product.featured_image,
                url: product.url,
                width: 900
              %}
            {% endif %}
            <div class="collection-product__content p-4 rounded-xl" >
              <a class="font-mono" href={{product.url}}> 
                <p class="text-xs">{{product.vendor}}</p>
                <p class="text-sm" style="view-transition-name: {{product.title | handleize}}">{{ product.title }}</p>
                <p class="text-xs" style="view-transition-name: {{product.title | handleize}}-price"class="font-mono">{{ product.price | money }}</p>
              </a>
            </div>
          </div>
        {% endfor %}
   
    </div>
        <div class="flex justify-center gap-4 pt-8">{{ paginate | default_pagination }}</div>
      {% endpaginate %}
  </div>
</div>

{% stylesheet %}
  .collection-products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
  }
  span.current {
    color: oklch(93% 0.034 272.788);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
