{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}
<div class="flex gap-8">
  <div id="photos" class="h-[92.5vh] p-4 overflow-y-scroll snap-y shadow-md hover:shadow-lg/30 transition duration-200 ease-in no-scrollbar flex flex-col gap-4 rounded-xl w-[55%] z-10">
    {% for image in product.images %}
      <div class="shadow-sm hover:shadow-md rounded-xl -z-10 transition duration-300" 
        {% if forloop.first %} 
          style="view-transition-name: photo-{{product.title | handleize }};"
        {% endif%}
        >
          {% render 'image', 
            class: 'product-image rounded-xl max-h-[90vh] snap-center object-scale-down', 
            image: image,
            width: 1100
          %}    
        </div>
    {% endfor %}
  </div>
  <div class="w-64  px-4 grow flex flex-col justify-between">
    <div class="collection-product max-w-lg px-2 shadow-md/20 -translate-y-1 transition duration-300 ease-in rounded-xl" style="margin-top: 1rem">
      <div class="max-h-[80vh] overflow-y-scroll">
      </div>
        <div class="collection-product__content p-4 rounded-xl" >
          <a href={{product.url}}> 
            <p class="text-xs">{{product.vendor}}</p>
            <p class="text-sm" style="view-transition-name: {{product.title | handleize}}">{{ product.title }}</p>
            <p class="text-xs" style="view-transition-name: {{product.title | handleize}}-price"class="font-mono">{{ product.price | money }}</p>
          </a>
        </div>
    </div>
    {% render 'product-info' %}
  </div>
</div>
{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
